/**
 * Float Layout Activity
 **/

*{
  box-sizing: border-box;
}

html, body { 
  position: relative;
  font-family: 'Ravie', 'Times New Roman', Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 40;
} 
#logo{
  position: sticky;
  text-align: center;
  display: inline-block;
  padding: 20px;
  margin-left: 0;
  text-decoration: none;
  background-color: #ffff99;
  color: blue;
  font-size: 40px;
  font-family: 'Ravie';
  top: 0;
  right: 0px;
  width: 860px;
 }
#background{
    position: absolute;
    height: 960px;
    width: 960px;
    margin: 0px;
    padding: 0px;
    background-image: url(../images/ArtDeco3.jpg);
    background-position: center center;  
    background-size: cover;
    background-repeat: repeat;
  }

#buttons {
  position: absolute;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  width: 860px;
  font-family: "Arial";
  display: inline-block;
  background-color: #ffff99;
  color: black;
}
.response{
  font-size: 50%;
}

/*
h1{
  margin-top: 5px;
  padding-top: 0px;
  background-color: green;
  color: black;
  font-size: 36px;
  height: 100px;
  width: 200px;
}
*/
#wins {
  position: relative;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  padding-top: 5px;
  text-decoration: none;
  background-color: cyan;
  width: 50px;
  height: 50px;
  color: black;
  font-size: 50%;
}
#losses {
  position: relative;
  float: left;
  margin-top: 55px;
  margin-left: -50px;
  padding-top: 5px;
  text-decoration: none;
  background-color: cyan;
  width: 50px;
  height: 50px;
  color: black;
  font-size: 50%;
}


